name: Build HardenedBSD Image
on:
  push:
    branches: []
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build image
    steps:
    - uses: actions/checkout@v4
    - name: Build image
      id: build
      uses: vmactions/freebsd-vm@v1
      with:
        release: "15.0"
        usesh: true
        run: |
          pkg install -y curl go git
          go version
          cd ${GITHUB_WORKSPACE}
          go mod tidy
          go run ./cmd/hardenedbsd-builder
    - name: Store Image
      uses: actions/upload-artifact@v4
      with:
        name: hardenedbsd-15.0-ufs-amd64.raw
        path: image.raw

