name: Build HardenedBSD Image
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build image
    steps:
    - uses: actions/checkout@v4
    - name: Build image
      id: build
      uses: vmactions/freebsd-vm@v1
      with:
        release: "15.0"
        usesh: true
        run: |
          pkg install -y curl go git
          go version
          cd ${GITHUB_WORKSPACE}
          go mod tidy
          go run ./...
    - name: Checksum and rename image
      run: |
        mv image.raw hardenedbsd-15.0-ufs-amd64.raw
        sha256sum hardenedbsd-15.0-ufs-amd64.raw > hardenedbsd-15.0-ufs-amd64.raw.sha256
    - name: Upload image to GitHub Release (public)
      uses: ncipollo/release-action@v1
      with:
        tag: hardenedbsd-15-latest
        name: "HardenedBSD 15 UFS image"
        artifacts: |
          hardenedbsd-15.0-ufs-amd64.raw
          hardenedbsd-15.0-ufs-amd64.raw.sha256
        allowUpdates: true
        generateReleaseNotes: false

