name: Build HardenedBSD Image
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build image
    steps:
    - uses: actions/checkout@v4
    - name: Build image
      id: build
      uses: vmactions/freebsd-vm@v1
      with:
        release: "15.0"
        usesh: true
        run: |
          pkg install -y curl go git
          go version
          cd ${GITHUB_WORKSPACE}
          go mod tidy
          go run ./...
    - name: Finalize image
      run: |
        mv image.raw.xz hardenedbsd-vm.raw.xz
    - name: Release image
      uses: ncipollo/release-action@v1
      with:
        tag: 16CURRENT_UFS_AMD64_MODIFIED
        name: "16-CURRENT UFS AMD64 (MODIFIED)"
        artifacts: |
          hardenedbsd-vm.raw.xz
        allowUpdates: true
        generateReleaseNotes: false

