name: Build HardenedBSD Image
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build image
    steps:
    - uses: actions/checkout@v4
    - name: Build image
      id: build
      uses: vmactions/freebsd-vm@v1
      with:
        release: "15.0"
        usesh: true
        run: |
          pkg install -y curl go git
          go version
          cd ${GITHUB_WORKSPACE}
          go mod tidy
          go run ./...
          rm *.xz || true
    - name: Compress image
      run: |
        mv image.raw hardenedbsd-16.0-ufs-amd64.raw
        xz -T0 -v hardenedbsd-16.0-ufs-amd64.raw
    - name: Release image
      uses: ncipollo/release-action@v1
      with:
        tag: hardenedbsd-16-latest
        name: "HardenedBSD 16 UFS image"
        artifacts: |
          hardenedbsd-16.0-ufs-amd64.raw.xz
        allowUpdates: true
        generateReleaseNotes: false

